@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: white;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 100;
  font-style: normal;
}

header.bg-cestpro::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 80%;
  background: radial-gradient(
    circle at 100% 100%,
    transparent 30%,
    rgba(255, 255, 255, 0.05) 45%,
    rgba(255, 255, 255, 0.2) 60%,
    white 100%
  );
  transform: translate(30%, 40%);
  border-radius: 100%;
  pointer-events: none;
}
.clip-diagonal {
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
